.Rproj.user
.Rhistory
.RData
*.o
*.so
src/DEploid.dll
DEploid.Rcheck/
DEploid_0.*.*.tar.gz
tests/testthat/Rplots.pdf
tests/testthat/*png
tests/testthat/*html
inst/doc

src/DEploid/dEploid.cpp
src/DEploid/lasso/lassoOut.cpp

*gcda
*gcno
*.deps
*.dirstamp
