export(dEploid)
importFrom(Rcpp,evalCpp)
useDynLib(DEploid)
export(plotProportions)
export(extractCoverageFromVcf)
export(extractCoverageFromTxt)
export(haplotypePainter)
export(plotAltVsRef)
export(computeObsWSAF)
export(histWSAF)
